<div class="jumbotron">
  <div class="container">
  <h1>Bonjour et bienvenue</h1>
  <p>Nous sommes heureux de vous accueillir sur le site de la société  CMB.</p>
  <p><a class="btn btn-primary btn-lg" role="button">En savoir plus</a></p>

  </div>
</div>